html
  head
    title 
    //link(rel='stylesheet', type='text/css', href='slick.css')
    //link(rel='stylesheet', type='text/css', href='slick-theme.css')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type="text/javascript" src="qrcode.js")
    |Hello World
    div(id='qr')
    script(type='text/javascript').
      $(document).ready(function(){
        var qr = qrcode(4, 'L');
        qr.addData("test");
        qr.make();
        $('#qr').html(qr.createSvgTag({ cellSize: 4, margin: 0, xscalable: true }));
        //$('#qr').html("hello again");
        console.log($('qr').html);
        })