html
  head
    title 
    //link(rel='stylesheet', type='text/css', href='slick.css')
    //link(rel='stylesheet', type='text/css', href='slick-theme.css')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(type="text/javascript" src="js/qrcode.js")
    |Hello World
    div(id='qr')
    div(id='x')
    script(type='text/javascript').
      $(document).ready(function(){
        var qr = qrcode(4, 'L');
        qr.addData("test");
        qr.make();
        $('#qr').html(qr.createSvgTag({ cellSize: 5, margin: 0, xscalable: true }));
        //$('#qr').html("hello again");
        console.log($('qr').html);
        getLocation();
      })
      
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          $('#x').html("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        $('#x').html("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude);
      }