doctype html
head
    title QR-Attendance
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='images/icons/favicon.ico')
    //link(rel='stylesheet', type='text/css' href='css/bootstrap.min.css')
    //link(rel='stylesheet', type='text/css' href='css/animate.css')
    //link(rel='stylesheet', type='text/css' href='css/hamburgers.min.css')
    //link(rel='stylesheet', type='text/css' href='css/select2.min.css')
    link(rel='stylesheet' type='text/css' href='css/util.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
if lessonName != undefined
    body
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src="js/qrcode.js")
        .bg-create-lesson(style="background-image: url('images/tpBkGrd.jpg');")
          .container-create-lesson
            .wrap-create-lesson
                span.create-lesson-form-title
                    | Scan QR
                div.qr-display(id='qr')
        script(type='text/javascript', src='js/jquery-3.2.1.min.js')
        script(type='text/javascript', src='js/popper.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/create-lesson.js')
        script(type='text/javascript').
            $(document).ready(function(){
                $.post('/get-qr-string', {'name': '#{lessonName}'}, updateQr);
                //getLocation();
            })

            function updateQr(data, status){
                console.log(data);
                var qr = qrcode(4, 'L');
                qr.addData(data);
                qr.make();
                $('#qr').html(qr.createSvgTag({ cellSize: 8, margin: 0, xscalable: true }));
            }

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else { 
                    //$('#x').html("Geolocation is not supported by this browser.");
                }
            }

            function showPosition(position) {
                $('#x').html("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude);
            }
else
    body
        | Error 101010. You should not see this page.
